
{% extends 'base.html' %}

{% load static %}

{% block content %} 
<!-- El dia que puedas usar esto, lo usas, pero por el momento sigue insertando todo el css aqui en el mismo html-->

<link rel="stylesheet" type="text/css" href="{% static '/static/home/home.css' %}">

<style>
  body {
    background-color: rgb(185, 197, 197);
    font-family: 'Times New Roman', Times, serif;
  }

  .top-part{
    display: flex;
    flex-direction:row;
    padding: 20px;
  }

  
  .image {
    background-color: #3949ab;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
  }

  .photo {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 3.5px solid black;
    z-index: 2;
  }

  .bckgroung{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;

    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }


  @keyframes rotate{

    100%{
      transform:rotate(360deg);
    }
  }
  .content {
    background-color: #ffb300;
    width: 50%;
  }

  .content > .m-2 {
    text-align: justify;
  }

  .sublime{
    text-align: center;
  }
</style>

<div class="body">
  <div class="top-part">
    
    <div class="image">
      <img src="/images/photo5131864922739812969 (1).jpg" alt="picture" class="photo">
      <img src="/images/163-1631155_cool-backgrounds-for-profile.jpg" alt="backgr" class="bckgroung">
    </div>

    <div class="content">
      <div class="titulo">
        <h1 class="display-2">
          I am Jesus Loya and this is my first portfolio
        </h1>
      </div>

      <div class="intro">
        <h2>Presentation</h2>
          <div class="m-2">
            <p class="card-text">
              I'm Jesus, and have a bachelor degre on Chemical Enginner, besides a Master Degree. It's sounds crazy but I have also knowledge
              on code, like this portfolio that I create from scratch using Django. I have many interest and skills, like enviromental, quality
              control and computer science.
            </p>
          </div>
      </div>

    </div>
    
  </div>
  <hr class="mb-3 col-md-10 offset-md-1">
  <h4 class="sublime">Here I can show you one of the apps that I have been created along the time</h4>
  <hr class="mb-3 col-md-10 offset-md-1">
  <div class="middle-part">
    <div class="middle-part">
      <!-- Para introducir el carrusel-->
      <div id="carouselExampleCaptions" class="carousel carousel-dark slide mb-3 col-md-10 offset-md-1 shadow-sm p-3 mb-5 bg-body rounded" data-bs-ride="false">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <a href="{% url 'resume_view' %}">
                <img src="https://www.picpedia.org/highway-signs/images/professional-development.jpg" class="d-block w-100" width="600" height="500" alt="Resume">
              </a>
              <div class="carousel-caption d-none d-md-block">
                <h5 class="display-4">Professional Resume</h5>
                <p class="display-6">Professional Resume with all the experience</p>
              </div>
            </div>
            <div class="carousel-item">
              <a href="{% url 'blogbase' %}">
                  <img src="https://www.capitalism.com/wp-content/uploads/2020/01/Depositphotos_208504732_l-2015-1024x684.jpg" class="d-block w-100" width="600" height="500" alt="Blog">
              </a>
              <div class="carousel-caption d-none d-md-block">
                <h5 class="display-4">Blog</h5>
                <p class="display-6">Blog Web page with multiple entries</p>
              </div>
            </div>
            <div class="carousel-item">
              <a href="{% url 'thesaurus_view' %}">
                  <img src="https://www.collinsdictionary.com/images/full/thesaurus_23868640.jpg" class="d-block w-100" width="600" height="500" alt="Blog">
              </a>
              <div class="carousel-caption d-none d-md-block">
                <h5 class="display-4">Thesaurus</h5>
                <p class="display-6">A thesaurus web page were you can obtain sinonims</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <hr class="mb-3 col-md-10 offset-md-1">
        <div class="mb-3 col-md-10 offset-md-1">
      </div>
  </div>

  <div class="bottom">
    <h5 class="display-5">
      Contact
      <p class="display-6">
      </p>
    </h5>
  </div>

</div>
{% endblock content %}