
{% extends 'base.html' %}

{% load static %}

{% block content %} 
<!-- El dia que puedas usar esto, lo usas, pero por el momento sigue insertando todo el css aqui en el mismo html-->

<link rel="stylesheet" type="text/css" href="{% static '/static/home/home.css' %}">

<style>
  body {
    background-color: #9fa8da;
    font-family: 'Times New Roman', Times, serif;
  }

  .top-part{
    display: flex;
    flex-direction:row;
    min-height: 400px;
  }

  
  .image {
    background-color: #3949ab;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
  }

  .photo {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 3.5px solid black;
    z-index: 2;
  }

  .bckgroung{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;

    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }


  @keyframes rotate{

    100%{
      transform:rotate(360deg);
    }
  }
  .content {
    background-color: #ffb300;
    width: 50%;
  }

  .content > .m-2 {
    text-align: justify;
  }

  .sublime{
    text-align: center;
  }

  .bottom{
    background-color: #ffb300;
  }

  .contact{
    background-color: #fdd835;
  }

  .contact-bottom{
    display:flex;
    flex-direction: row;
    background-color: #283593;
  }

  .contact-bottom > p {
    color: white;
    font-weight: bold;
    font-size: larger;
    text-size-adjust: 18px;
    text-align: justify;
    width: 50%
    
  }

  #contact{
    justify-content: center;
    text-align: center;
  }
  .media{
    color: white;
    text-decoration: solid;
    text-align: right;
    background-color: #3949ab;
    width: 50%;
    align-items: end;
    align-content: flex-end;
  }

  .media span {
    color: white;
  }


</style>

<div class="body">
  <div class="top-part">
    
    <div class="image">
      <img src="/images/photo5131864922739812969 (1).jpg" alt="picture" class="photo">
      <img src="/images/163-1631155_cool-backgrounds-for-profile.jpg" alt="backgr" class="bckgroung">
    </div>

    <div class="content">
      <div class="titulo">
        <h1 class="display-2">
          I am Jesus Loya and this is my first portfolio
        </h1>
      </div>

      <div class="intro">
        <h2>Presentation</h2>
          <div class="m-2">
            <p class="card-text">
              My name is Jesus and I hold a Bachelor's Degree in Chemical Engineering, as well as a Master's Degree. I'm passionate about many different fields, including environmentalism, quality control, and computer science.

I also have experience with coding and recently created this portfolio from scratch using Django. In terms of programming languages, I am proficient in both Python and Java. In Python, I have expertise in using pandas, Numpy, Django, Flask, and CVV2. For Java, I know how to use spring-boot and combine it with Angular. Additionally, I'm skilled in using HTML and CSS with Angular.

I'm always eager to expand my knowledge and skills, and am excited to continue exploring different areas of interest in the future.
            </p>
          </div>
      </div>

    </div>
    
  </div>
  <hr class="mb-3 col-md-10 offset-md-1">
  <h4 class="sublime">Here I can show you one of the apps that I have been created along the time</h4>
  <hr class="mb-3 col-md-10 offset-md-1">
  <div class="middle-part">
    <div class="middle-part">
      <!-- Para introducir el carrusel-->
      <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="false">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <a href="{% url 'resume_view' %}">
                <img src="https://as2.ftcdn.net/v2/jpg/02/42/15/27/1000_F_242152790_eITHdgyD7AR6rhzMwWrukyCyMNPmzS8U.jpg" class="d-block w-100" width="600" height="500" alt="Resume">
              </a>
              <div class="carousel-caption d-none d-md-block">
                <h5 class="display-4">Professional Resume</h5>
              </div>
            </div>
            <div class="carousel-item">
              <a href="{% url 'blogbase' %}">
                  <img src="https://akus.b-cdn.net/imagenes/articulos/blog.jpg" class="d-block w-100" width="600" height="500" alt="Blog">
              </a>
              <div class="carousel-caption d-none d-md-block">
                <h5 class="display-4">Blog</h5>
              </div>
            </div>
            <div class="carousel-item">
              <a href="{% url 'thesaurus_view' %}">
                  <img src="https://www.collinsdictionary.com/images/full/thesaurus_23868640.jpg" class="d-block w-100" width="600" height="500" alt="thesaurus">
              </a>
              <div class="carousel-caption d-none d-md-block">
                <h5 class="display-4">Thesaurus</h5>
              </div>
            </div>
            <div class="carousel-item" >
              <a href="{% url 'qrGenerator_view' %}">
                <img src="https://1757140519.rsc.cdn77.org/blog/wp-content/uploads/sites/4/2020/04/qr_vs_line_code.png" class="d-block w-100" width="600" height="500" alt="qrGenerator">
              </a>
              <div class="carousel-caption d-none d-md-block">
                <h5 class="display-4">QR Code Generator</h5>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <hr class="mb-3 col-md-10 offset-md-1">
        <div class="mb-3 col-md-10 offset-md-1">
      </div>
  </div>

  <div class="bottom">
    <h5 class="display-5" id="contact">
      Contact
    </h5>
    <div class="contact-bottom">
      <p class="display-8">
        If you want to reach me you can try to use any of the next media:
      </p>
      <div class="media">
        <div class="call"><a href="tel: 614-213-9092"><i class="fas fa-phone"></i><span>614-213-9092</span></a></div>
        <div class="adress"><a href="https://www.google.com.mx/maps/place/Chihuahua,+Chih./@28.6710638,-106.134658,12z/data=!3m1!4b1!4m5!3m4!1s0x86ea449d5d484033:0xb7f1a7a706dd1d7b!8m2!3d28.6329957!4d-106.0691004"><i class="fas fa-map-marker"></i><span>Chihuahua,Mexico</span></a></div>
        <div class="email"><a href="danilloya341@gmail.com"><i class="fas fa-envelope"></i><span>Email</span></a></div>
        <div class="website"><a href="https://www.linkedin.com/in/jesus-daniel-loya-ramirez-604061151/"><i class="fas fa-home"></i><span>LinkedIn</span></a></div>
      </div>

    </div>
    
  </div>

</div>
{% endblock content %}