{% extends 'base.html' %}
{% block content %}

<style>
    .mb-3{
        text-align: center;
        justify-content: center;
    }
    .form-label{
        font-weight: bolder;
        font-size: larger;
    }
</style>
<div class="container">
    <h1 class="mb-3"> A simple Thereasurus program</h1>
    <form action="{% url 'thesaurus_view' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-6 mt-3 left">
                <label class="form-label">Word</label>
                <textarea class="form-control" name="my_textarea" rows="3" placeholder="Text to translate">{{original_text}}</textarea>
            </div>
            <div class="col-sm-6 mt-3 left">
                <label class="form-label">Thereasurus</label>
                <textarea class="form-control" rows="3" placeholder="Text Thereasurus">{{output_text}}</textarea>               
                <input class="btn btn-primary ml-3 mt-3" type="submit" value="Submit">    
                
            </div>
        </div>
    </form>
</div>
{% endblock content %}